<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wanjian.screenemulator">

    <application>
        <activity
            android:name="com.wanjian.screenemulator.SettingActivity"
            android:icon="@drawable/emulator_tips"
            android:label="screenemulator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
